


body{
    margin: 3%;
    font-family: 'Anton', sans-serif;
    
} 
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: rgb(255, 145, 0);
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
} 
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    align-items: unset;
    
}
.dream-area{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
} 
 

.btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
  }
  

.three-project{
    border: solid red;
      height: 60%;
      height: 500px;
  }
  .three{
   
    width: 25%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    
  }
  .three img{
    width: 100%;
    
  }
  .box{
    box-shadow: 5px 5px 5px gray;
      border-radius: 10px;
  }
  #text{
    
    margin-bottom: 10%;
    text-align: center;
    
  }
  #bold{
      color:rgb(71, 71, 71);
  }
  .banner{
      background-image: url(backgroung.png);
      border: solid red;
      border-radius: 50px;
      float: left;
      height: 200px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      
      background-size: 80%;
      margin-top: 80px;
      
      
  }
  section{
      height: 500px;
      
      border: solid red;
  }
  .none{
    float: left;
    
  }
  #work{
      margin-top: 140px;
      margin-left:200px ;
      color: white;


  }
  #chat{
    padding: 20px 30px;
    color: white;
    margin-top: 20mm;
    

  }
  .abc{
      float: left;
      height: 10%;
         

  }
  .last{
      margin-left: 450px;
     margin-top: 550px;
     border-radius: 1000mm;
      
  }
  #end{
      text-align: center;
      font-size: 3mm;
 
    }
#stay{
    color: rgb(158, 154, 154);

}
#mail{
    color: rgb(63, 91, 153);

}    
.manga{
    color: rgb(171, 61, 223);
}
.anime{
    float: left;
      border: solid red;
      border-radius: 100px;
      
      height: 500px;
      text-align: center;
      margin-left: 350px;
      

}
